<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    {{>navbar}}

     <div class="container-fluid main_header mid_body">
        <div class="row">
            <div class="col-md-10 col-12  mx-auto" style="display: flex; padding-top: 10rem;">

                <!-- left haeader -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>page not found</h1>
                    <a href="/"><button>Go back</button></a>
                   

                </div>

                <!-- right header -->
                <div class="col-md-6 col-12 main_header_right ">

                    <div class="carousel-item active">
                        <img src="images/download.jpg" class=" w-100" alt="...">
                    </div>

                </div>

            </div>
        </div>
    </div>


    {{>footer}}

    
</body>
</html>